/* Frame 174 elementt */
main {
    margin-bottom: 300px;
}

.main_section1 {
    position: relative;
    width: 1116px;
    height: 407px;
}

.section1_container {
    position: absolute;
    width: 924px;
    height: 407.09px;
    left: 96px;
    top: 0px;
}

.text_and_button {
    position: absolute;
    width: 344px;
    height: 198px;
    top: 40px;
}

.section1_text_and_title {
    width: 344px;
    height: 127px;
}

.section1_title {
    width: 125px;
    height: 28px;
    margin: 0px 219px 15px 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #333333;
}

.section1_text {
    width: 344px;
    height: 84px;
    margin: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #333333;
}

.section1_buttonContainer {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;

    width: 192px;
    height: 56px;
    margin: 15px 152px 0px 0px;

    border: 1px solid #0079C8;
    border-radius: 4px;
}

.section1_button {
    width: 112px;
    height: 16px;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #0079C8;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.section1_img {
    position: absolute;
    left: 376px;
    /* left: 42.29%;
    right: 8.6%;
    top: 0%;
    bottom: -0.02%;
*/
}

/*Footer element*/

.footer_container {
    position: relative;
    width: 927px;
    height: 197px;

    background: #0079C8;
    border-radius: 4px;
}

.footer_title {
    position: absolute;
    width: 273px;
    height: 20px;

    margin: 40px 607.81px 137px 52.19px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}

.footer_text {
    position: absolute;
    width: 483px;
    height: 87px;

    margin: 80px 394px 30px 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;

    color: #FFFFFF;
}

.footer_button {
    position: absolute;
    width: 261px;
    height: 56px;
    margin: 101px 50px 40px 616px;
    border: none;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #0079C8;
}